html {
    scrollbar-color: #c9aa96 #886b56;
    scrollbar-width: auto;
}

body {
    background-color: #A98B76;
}

textarea {
    resize: none;
}

.main-container {
    justify-content: center;
}

.main-title {
    color: #F3E4C9;
    text-align: center;
}

.main-notes {
    opacity: 75%;
    color: #dbcbad;
    text-align: center;
}

.main-intro {
    font-size: 50pt;
}

.random-quote {
    font-size: 20pt
}

.posts-section {
    height: 300pt;
    background-color: #886b56;
}

.posts-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    transition: all 0.3s ease;
}

.posts-section-title {
    text-align: center;
}

.post-card {
    margin: 15pt;
    padding: 10pt;
     height: 100pt;
    width: 300pt;
    background-color:#816755;
}

.post-title {
    font-weight: bold;
}

.button-container {
    display: flex;
}

.button {
    background-color: #816755;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
}

.create-container {
    background-color: #8a6952;
}

.card-creation-title {
    text-align: center;
}

.card-title {
    margin: 0 auto 10pt auto;  /* auto left/right centers it */
    background-color: #886b56;
    outline: none;
}

.card-body {
    background-color: #886b56;
    height: 200px;
    outline: none;
}

.card-button {
    margin-top: 10pt;
    background-color: #3a2c22;
}

.dark-background {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.modal-container {
    background-color: #816755;
    position: fixed;
    top: 50%;
    left: 50%;

    margin: 30pt;
    padding: 50pt;

    transform: translate(-50%, -50%);
}

.view-container {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.view-title {
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
    font-size: 24pt; /* way too big at 50pt */
    width: 100%;
}

.view-body {
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
    width: 100%;
    white-space: pre-wrap;
}

.view-button {
    margin-top: 10pt;
    background-color: #3a2c22;
}

.edit-title {
    margin: 0 auto 10pt auto;  /* auto left/right centers it */
    background-color: #886b56;
    outline: none;
}

.edit-body {
    background-color: #886b56;
    height: 200px;
    outline: none;
}

.edit-button {
    margin-top: 10pt;
    background-color: #3a2c22;
}

/* TEXT COLORS */

.black {
    color: #1f1e1d
}

.white {
    color: #F3E4C9
}

/* ANIMATIONS */

.appear {
    opacity: 0;
    transform: translateY(20px);
    transition: all 2s cubic-bezier(.17,.75,.27,.99);
}

.appear.visible {
    opacity: 1;
    transform: translateY(0);
}

/* FONTS */

.libre {
    font-family: "Libre Franklin", sans-serif;
}

.tiempos {
    font-family: "Tiempos Text Regular", serif;
}

/* CUSTOM

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #1e1e2e;
}

::-webkit-scrollbar-thumb {
    background: #c9aa96;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a88a76;
} */